<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://functionapp1eventhub.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/feeb21ad-173f-483a-8763-ac0389f4f929/resourcegroups/DEV-International-Systems/providers/Microsoft.Web/sites/FunctionApp1Eventhub</ResourceId>
    <UserName>$FunctionApp1Eventhub</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://functionapp1eventhub.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>